USE [master]
GO
/****** Object:  Database [School_Of_Teachers]    Script Date: 3/1/2017 11:31:49 AM ******/
CREATE DATABASE [School_Of_Teachers]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'School_Of_Teachers', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSERVER\MSSQL\DATA\School_Of_Teachers.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'School_Of_Teachers_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSERVER\MSSQL\DATA\School_Of_Teachers_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [School_Of_Teachers].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [School_Of_Teachers]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 3/1/2017 11:31:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[cod_Admin] [int] IDENTITY(1,1) NOT NULL,
	[codFuncionario] [int] NOT NULL,
	[dados_Complementares] [varchar](100) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[cod_Admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Aula]    Script Date: 3/1/2017 11:31:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aula](
	[cod_Aula] [int] IDENTITY(1,1) NOT NULL,
	[data_Aula] [date] NOT NULL,
	[codCurso] [int] NULL,
	[codInstrutor] [int] NULL,
 CONSTRAINT [PK_Aula] PRIMARY KEY CLUSTERED 
(
	[cod_Aula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Avaliacao]    Script Date: 3/1/2017 11:31:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avaliacao](
	[cod_Avaliacao] [int] IDENTITY(1,1) NOT NULL,
	[nota] [decimal](10, 0) NULL,
	[data_Avaliacao] [date] NULL,
	[codCurso] [int] NULL,
	[codInstrutor] [int] NOT NULL,
	[matriculaCliente] [int] NOT NULL,
 CONSTRAINT [PK_Avaliacao] PRIMARY KEY CLUSTERED 
(
	[cod_Avaliacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 3/1/2017 11:31:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[matricula] [int] IDENTITY(1,1) NOT NULL,
	[dadosComplementares] [varchar](200) NULL,
	[cfp_Cliente] [varchar](14) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 3/1/2017 11:31:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Curso](
	[cod_Curso] [int] IDENTITY(1,1) NOT NULL,
	[nome_Curso] [varchar](50) NULL,
	[data_Inicio] [date] NULL,
	[data_Termino] [date] NULL,
	[codInstrutor] [int] NULL,
	[codAvaliacao] [int] NULL,
 CONSTRAINT [PK_Curso] PRIMARY KEY CLUSTERED 
(
	[cod_Curso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CursoCliente]    Script Date: 3/1/2017 11:31:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CursoCliente](
	[cod_CursoCliente] [int] IDENTITY(1,1) NOT NULL,
	[matriculaCliente] [int] NULL,
	[codCurso] [int] NULL,
 CONSTRAINT [PK_CursoCliente] PRIMARY KEY CLUSTERED 
(
	[cod_CursoCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Endereco]    Script Date: 3/1/2017 11:31:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Endereco](
	[cod_Endereco] [int] IDENTITY(1,1) NOT NULL,
	[cep] [int] NOT NULL,
	[rua] [varchar](20) NOT NULL,
	[bairro] [varchar](50) NOT NULL,
	[numero] [int] NULL,
	[quadra] [varchar](20) NOT NULL,
	[lote] [int] NOT NULL,
	[complemento] [varchar](50) NULL,
	[cidade] [varchar](50) NOT NULL DEFAULT ('palmas'),
	[estado] [varchar](30) NOT NULL DEFAULT ('Tocantins'),
 CONSTRAINT [PK_Endereco] PRIMARY KEY CLUSTERED 
(
	[cod_Endereco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Funcionario]    Script Date: 3/1/2017 11:31:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Funcionario](
	[cod_Funcionario] [int] IDENTITY(1,1) NOT NULL,
	[nascimento_Funcionario] [date] NOT NULL,
	[cod_Endereco] [nchar](10) NOT NULL,
	[salario_Funcionario] [money] NOT NULL,
	[cfp] [varchar](14) NOT NULL,
 CONSTRAINT [PK_Funcionario] PRIMARY KEY CLUSTERED 
(
	[cod_Funcionario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Instrutor]    Script Date: 3/1/2017 11:31:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Instrutor](
	[cod_Instrutor] [int] IDENTITY(1,1) NOT NULL,
	[especializacao] [varchar](100) NULL,
	[codFuncionario] [int] NOT NULL,
 CONSTRAINT [PK_Instrutor] PRIMARY KEY CLUSTERED 
(
	[cod_Instrutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Material]    Script Date: 3/1/2017 11:31:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Material](
	[cod_Material] [int] IDENTITY(1,1) NOT NULL,
	[nome_Material] [varchar](50) NULL,
	[codCurso] [int] NULL,
	[quantidade_Material] [int] NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[cod_Material] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pessoa]    Script Date: 3/1/2017 11:31:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pessoa](
	[nome] [varchar](50) NULL,
	[nascimento] [date] NULL,
	[cpf] [varchar](14) NOT NULL,
	[email] [varchar](50) NULL,
	[sexo] [char](1) NULL,
	[contato] [nchar](15) NULL,
	[contato2] [nchar](15) NULL,
	[codEndereco] [int] NULL,
	[idPessoa] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Pessoa] PRIMARY KEY CLUSTERED 
(
	[cpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[MostrarCursosDosClientes]    Script Date: 3/1/2017 11:31:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[MostrarCursosDosClientes]
	(nome, matricula, nome_Curso, data_Inicio)
AS
	SELECT
	nome, matricula, nome_Curso, data_Inicio
	FROM
	Pessoa p inner join Cliente c 
	on (p.cpf = c.cfp_Cliente)
	inner join CursoCliente cc
	on(c.matricula = cc.matriculaCliente) 	
	inner join Curso cur 
	on (cur.cod_Curso = cc.codCurso)

GO
/****** Object:  View [dbo].[MostrarTodosClientes]    Script Date: 3/1/2017 11:31:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MostrarTodosClientes]
	(nome, cpf, matricula, cidade,estado)
AS
	SELECT
	 nome, cpf, matricula, cidade, estado
	from
	 Cliente c INNER JOIN Pessoa p 
	 on  c.cfp_cliente = p.cpf
	 INNER JOIN Endereco e
	 on p.codEndereco = e.cod_Endereco

GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([matricula], [dadosComplementares], [cfp_Cliente]) VALUES (2, N'aluno transferido', N'047.488.771-54')
INSERT [dbo].[Cliente] ([matricula], [dadosComplementares], [cfp_Cliente]) VALUES (3, N'a', N'047.488.771-54')
INSERT [dbo].[Cliente] ([matricula], [dadosComplementares], [cfp_Cliente]) VALUES (4, N'a', N'047.488.771-54')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
SET IDENTITY_INSERT [dbo].[Endereco] ON 

INSERT [dbo].[Endereco] ([cod_Endereco], [cep], [rua], [bairro], [numero], [quadra], [lote], [complemento], [cidade], [estado]) VALUES (1, 77006006, N'3', N'Jardim Aeroporto', 3, N'8', 9, N'casa laranja', N'palmas', N'Tocantins')
INSERT [dbo].[Endereco] ([cod_Endereco], [cep], [rua], [bairro], [numero], [quadra], [lote], [complemento], [cidade], [estado]) VALUES (2, 77062222, N'4', N'Jardim Santa Hellena', 8, N'7', 9, N'Casa Preta', N'palmas', N'Tocantins')
INSERT [dbo].[Endereco] ([cod_Endereco], [cep], [rua], [bairro], [numero], [quadra], [lote], [complemento], [cidade], [estado]) VALUES (3, 77270000, N'rua 3', N'nova esperanca', 0, N'8', 6, N'terceira casa do lado direto', N'palmas', N'Tocantins')
SET IDENTITY_INSERT [dbo].[Endereco] OFF
SET IDENTITY_INSERT [dbo].[Pessoa] ON 

INSERT [dbo].[Pessoa] ([nome], [nascimento], [cpf], [email], [sexo], [contato], [contato2], [codEndereco], [idPessoa]) VALUES (N'Adam', CAST(N'1994-10-31' AS Date), N'004.005.006.78', N'adam@gmail.com', N'M', N'998877661      ', NULL, 1, 1)
INSERT [dbo].[Pessoa] ([nome], [nascimento], [cpf], [email], [sexo], [contato], [contato2], [codEndereco], [idPessoa]) VALUES (N'wllynilson', CAST(N'1994-10-31' AS Date), N'047.488.771-54', N'wllynilson@gmail.com', N'M', N'992136634      ', N'9              ', 1, 2)
INSERT [dbo].[Pessoa] ([nome], [nascimento], [cpf], [email], [sexo], [contato], [contato2], [codEndereco], [idPessoa]) VALUES (N'João', CAST(N'1994-07-23' AS Date), N'123.321.456-78', N'joaoPessoa@gmail.com', N'M', N'998877665      ', NULL, 3, 4)
SET IDENTITY_INSERT [dbo].[Pessoa] OFF
ALTER TABLE [dbo].[Admin]  WITH NOCHECK ADD  CONSTRAINT [FK_Admin_Funcionario] FOREIGN KEY([codFuncionario])
REFERENCES [dbo].[Funcionario] ([cod_Funcionario])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_Admin_Funcionario]
GO
ALTER TABLE [dbo].[Aula]  WITH NOCHECK ADD  CONSTRAINT [FK_Aula_Curso] FOREIGN KEY([codCurso])
REFERENCES [dbo].[Curso] ([cod_Curso])
GO
ALTER TABLE [dbo].[Aula] CHECK CONSTRAINT [FK_Aula_Curso]
GO
ALTER TABLE [dbo].[Aula]  WITH NOCHECK ADD  CONSTRAINT [FK_Aula_Instrutor] FOREIGN KEY([codInstrutor])
REFERENCES [dbo].[Instrutor] ([cod_Instrutor])
GO
ALTER TABLE [dbo].[Aula] CHECK CONSTRAINT [FK_Aula_Instrutor]
GO
ALTER TABLE [dbo].[Avaliacao]  WITH NOCHECK ADD  CONSTRAINT [FK_Avaliacao_Cliente] FOREIGN KEY([matriculaCliente])
REFERENCES [dbo].[Cliente] ([matricula])
GO
ALTER TABLE [dbo].[Avaliacao] CHECK CONSTRAINT [FK_Avaliacao_Cliente]
GO
ALTER TABLE [dbo].[Avaliacao]  WITH NOCHECK ADD  CONSTRAINT [FK_Avaliacao_Curso] FOREIGN KEY([codCurso])
REFERENCES [dbo].[Curso] ([cod_Curso])
GO
ALTER TABLE [dbo].[Avaliacao] CHECK CONSTRAINT [FK_Avaliacao_Curso]
GO
ALTER TABLE [dbo].[Avaliacao]  WITH NOCHECK ADD  CONSTRAINT [FK_Avaliacao_Instrutor] FOREIGN KEY([codInstrutor])
REFERENCES [dbo].[Instrutor] ([cod_Instrutor])
GO
ALTER TABLE [dbo].[Avaliacao] CHECK CONSTRAINT [FK_Avaliacao_Instrutor]
GO
ALTER TABLE [dbo].[Cliente]  WITH NOCHECK ADD  CONSTRAINT [FK_Cliente_Pessoa] FOREIGN KEY([cfp_Cliente])
REFERENCES [dbo].[Pessoa] ([cpf])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Pessoa]
GO
ALTER TABLE [dbo].[CursoCliente]  WITH NOCHECK ADD  CONSTRAINT [FK_CursoCliente_Cliente] FOREIGN KEY([matriculaCliente])
REFERENCES [dbo].[Cliente] ([matricula])
GO
ALTER TABLE [dbo].[CursoCliente] CHECK CONSTRAINT [FK_CursoCliente_Cliente]
GO
ALTER TABLE [dbo].[CursoCliente]  WITH NOCHECK ADD  CONSTRAINT [FK_CursoCliente_Curso] FOREIGN KEY([codCurso])
REFERENCES [dbo].[Curso] ([cod_Curso])
GO
ALTER TABLE [dbo].[CursoCliente] CHECK CONSTRAINT [FK_CursoCliente_Curso]
GO
ALTER TABLE [dbo].[Funcionario]  WITH NOCHECK ADD  CONSTRAINT [FK_Funcionario_Pessoa] FOREIGN KEY([cfp])
REFERENCES [dbo].[Pessoa] ([cpf])
GO
ALTER TABLE [dbo].[Funcionario] CHECK CONSTRAINT [FK_Funcionario_Pessoa]
GO
ALTER TABLE [dbo].[Instrutor]  WITH NOCHECK ADD  CONSTRAINT [FK_Instrutor_Funcionario] FOREIGN KEY([codFuncionario])
REFERENCES [dbo].[Funcionario] ([cod_Funcionario])
GO
ALTER TABLE [dbo].[Instrutor] CHECK CONSTRAINT [FK_Instrutor_Funcionario]
GO
ALTER TABLE [dbo].[Material]  WITH NOCHECK ADD  CONSTRAINT [FK_Material_Curso] FOREIGN KEY([codCurso])
REFERENCES [dbo].[Curso] ([cod_Curso])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_Curso]
GO
ALTER TABLE [dbo].[Pessoa]  WITH NOCHECK ADD  CONSTRAINT [FK_Pessoa_Endereco] FOREIGN KEY([codEndereco])
REFERENCES [dbo].[Endereco] ([cod_Endereco])
GO
ALTER TABLE [dbo].[Pessoa] CHECK CONSTRAINT [FK_Pessoa_Endereco]
GO
/****** Object:  StoredProcedure [dbo].[AcoesCliente]    Script Date: 3/1/2017 11:31:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AcoesCliente]
@acao int, --0=Excluir, 1=Inserir, 2=Alterar

--@IdPessoa int = null,
--@nome varchar(50) = null,
--PARAMETROS Do Cliente:
@complementares varchar = null,
@cpfC varchar(14) = null,
@matriculaC varchar(100) = null

AS
BEGIN
	IF (@acao = 0) --EXCLUIR
		BEGIN
			DELETE FROM Cliente
			WHERE matricula = @matriculaC

			SELECT @matriculaC AS Retorno -- vai retornar o campo onde houve a ação
		END
	ELSE IF (@acao = 1) --INSERIR
		BEGIN
			INSERT INTO Cliente(dadosComplementares,cfp_Cliente)
			VALUES(@complementares,@cpfC)

			SELECT @@IDENTITY AS Retorno --vai retornar o campo onde houve a ação
		END

	ELSE IF (@acao = 2)--ALTERAR
		BEGIN
			UPDATE Cliente
			SET dadosComplementares = @complementares, cfp_Cliente = @cpfC
						
			WHERE matricula = @matriculaC

			SELECT @matriculaC AS Retorno --vai retornar o campo onde houve a ação
		END
	ELSE
		BEGIN
			RAISERROR('AÇÃO NÃO IMPLEMENTADA',14,1); --tentar executar alguma ação que não esta implementada
		END
END
GO
/****** Object:  StoredProcedure [dbo].[AcoesPessoa]    Script Date: 3/1/2017 11:31:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AcoesPessoa]
@acao int, --0=Excluir, 1=Inserir, 2=Alterar

@IdPessoa int = null,
--PARAMETROS DA PESSOA:
@nomeP varchar(100) = null,
@nascimentoP date = null,
@cpfP varchar(14) = null,
@emailP varchar = null,
@sexoP char = null,
@contato1P varchar = null,
@contato2P varchar = null,
@codEnderecoP int = null

AS
BEGIN
	IF (@acao = 0) --EXCLUIR
		BEGIN
			DELETE FROM PESSOA
			WHERE idPessoa = @IdPessoa

			SELECT @idPessoa AS Retorno -- vai retornar o campo onde houve a ação
		END
	ELSE IF (@acao = 1) --INSERIR
		BEGIN
			INSERT INTO PESSOA(nome,nascimento,cpf,email,sexo,contato, contato2, codEndereco)
			VALUES(@nomeP,@nascimentoP,@cpfP,@emailP,@sexoP,@contato1P,@contato2P,@codEnderecoP)

			SELECT @@IDENTITY AS Retorno --vai retornar o campo onde houve a ação
		END

	ELSE IF (@acao = 2)--ALTERAR
		BEGIN
			UPDATE Pessoa
			SET nome = @nomeP, nascimento = @nascimentoP, cpf = @cpfP,
				email = @emailP, sexo = @sexoP, contato = @contato1P,
				contato2 = @contato2P, codEndereco = @codEnderecoP
						
			WHERE idPessoa = @idPessoa

			SELECT @idPessoa AS Retorno --vai retornar o campo onde houve a ação
		END
	ELSE
		BEGIN
			RAISERROR('AÇÃO NÃO IMPLEMENTADA',14,1); --tentar executar alguma ação que não esta implementada
		END
END
GO
/****** Object:  StoredProcedure [dbo].[cadastroPessoa]    Script Date: 3/1/2017 11:31:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[cadastroPessoa]
@nomeP varchar(100) = null,
@nascimentoP date = null,
@cpfP varchar(14) = null,
@emailP varchar = null,
@sexoP char = null,
@contato1P varchar = null,
@contato2P varchar = null,
@codEnderecoP int = null

  AS 
	BEGIN
		INSERT INTO Pessoa(nome, nascimento, cpf, email, sexo, contato, contato2, codEndereco)
		VALUES (@nomeP, @nascimentoP, @cpfP,@emailP, @sexoP, @contato1P,@contato2P,@codEnderecoP)
	END
GO
USE [master]
GO
